body{
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.137);
}


img{
 text-align: center;
 height: auto;
 width: 800px;
 transition: transform 0.5s ease;

}
img:hover{
    transform: scale(1.1);
   
}
h1{
padding-left: 40px;
margin-top: 45px;
color: rgb(24, 0, 0);

}


h2{
 padding-left:  40px;
 color: rgb(24, 0, 0);
    }

